@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item {
    text-transform: uppercase;
  }

  &__list-item:not(:last-child) {
    margin-right: 35px;
  }

  &__list-link {
    color: $title;
    transition: color 0.4s ease-in-out;
    @extend %roboto-400;

    &:hover {
      color: $accent;
      @extend %roboto-700;
      transition: color 0.4s ease-in-out;
      &:after {
        width: 100%;
      }
    }
    &:after {
      display: block;
      content: '';
      height: 2px;
      width: 0%;
      background-color: $accent;
      transition: width 0.4s ease-in-out;
    }
  }

  &__list-link--active {
    color: $accent;
    @extend %roboto-700;
    &::after {
      display: block;
      content: '';
      height: 2px;
      width: 100%;
    }
  }
}
.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link:not(:last-child) {
    margin-right: 25px;
  }
  &__num {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    color: #fff;
    top: -9px;
    right: -14px;
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
  }
}

.footer {
  background-color: $bg;
}
.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  &__contact {
    width: 270px;
    margin-right: 30px;
  }
  &__nav {
    width: 170px;
    margin-right: 30px;
  }
  &__item-form {
    max-width: 498px;
  }
  &__logo {
    display: block;
    margin-bottom: 33px;
  }
  &__address,
  &__email,
  &__phone {
    display: block;
    margin-bottom: 14px;
  }
  &__phone {
    margin-bottom: 16px;
  }
  &__social-list {
    display: flex;
    align-items: center;
  }
  &__social-item:not(:last-child) {
    margin-right: 18px;
  }
  &__social-link {
    transition: fill 0.3s;
    path {
      fill: $default;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
  &__title {
    @extend %roboto-500;
    color: $title;
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 1;
  }
  &__link {
    display: block;
    margin-bottom: 14px;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__form-input {
    background-color: #fff;
    max-width: 350px;
    width: 100%;
    border: none;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      color: $default;
      font-size: 16px;
    }
  }
  &__form-btn {
    background-color: $accent;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 26px;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  }
}
.footer-bottom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  &__accept-text {
    vertical-align: middle;
    margin-right: 25px;
  }
  &__accept-img {
    display: inline;
    vertical-align: middle;
  }
  &__accept-img:not(:last-child) {
    margin-right: 25px;
  }
}

@import 'media';
