%quicksand-400 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

%quicksand-500 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}

%roboto-400 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

%roboto-500 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

%roboto-700 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

%btn {
	@extend %roboto-400;
	padding: 12px 26px;
	box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
	background-color: $accent;
	color: #fff;
	text-transform: uppercase;
}
